/* Importing font*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700,900');

/* Variables */

:root {
    /* Colors */
    --clr-main: #F6F1ED;
    --clr-secondary: #50413C;
    --clr-title: #30231D;
    --clr-accent: #CC3914;

    /* My Font Family*/
    --ff: 'Merriweather';

    /* Font Weight*/
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 900;

    /* Font Sizes*/
    --fs-title: 2em;
    --fs-food: 1.5em;
    --fs-cta: 3em;
    --fs-warning: .75em;
    --fs-header: 1.87em;
    --fs-text: .9em;
}

/* General styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    hyphens: auto;
}

body {
    font-family: 'Merriweather';
    font-size: .9em;
    background-color: #F6F1ED;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* My Grid System*/

.flex {
    display: flex;
    align-items: center;
}

.col--1-2 {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-50 {
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.flex__around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (min-width: 900px){

    .col-50 {
        width: 50%;
    }

    .order {
        order: -1;
    }

    .flex__center {
        display: flex;
        justify-content: center;
    }
}

/* Typography */

.title {
    font-size: 2em;
    font-weight: 900;
    color: #30231D;
}

.food__title,
.food__weight {
    font-size: 1.1rem;
    font-weight: 900;
    color: #30231D;
}

.food__price {
    font-size: 1.1rem;
    color: #CC3914;
    font-weight: 900;
}

.warning {
    font-size: .6rem;
    color: #CC3914;
}

.food__type {
    font-size: .8rem;
}

@media only screen and (min-width: 900px){
    .food__title,
    .food__weight,
    .food__price {
        font-size: 1.5rem;
    }

    .food__type {
        font-size: .9rem;
    }

    .warning {
        font-size: .8rem;
    }
}

/* Buttons */

.btn {
    display: inline-block;
    font-size: 1.5em;
    background-color: #CC3914;
    color: #F6F1ED;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 900;
    letter-spacing: 1px;
    padding: .75rem 1.25rem;
    border: 2px solid #CC3914;
    border-radius: 10px;
}

/* Hero section */

.hero {
    background: url(../img/hero-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center 40%;
    height: 85vh;
    min-height: 530px;
    position: relative;
    margin-bottom: 55px;
}

.main-nav {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.main-nav li {
    list-style-type: none;
}

.main-nav li a {
    display: inline-block;
    padding: 3px 6px;
    color: #F6F1ED;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav li:not(:last-child) a {
    border-right: 2px solid rgba(0,0,0, .45);
}

.main-nav li a:hover {
    color: #CC3914;
}

.logo img {
    width: 25vw;
    max-width: 350px;
    min-width: 180px;
    height: auto;
    position: absolute;
    top: 53%;   /*this value is unique because of the design*/
    left: 49%;  /*this value is unique because of the design*/
    transform: translate(-50%, -50%);
}

.hero .social-links{
    display: none;
}

/*About section*/

.about {
    text-align: center;
    margin-bottom: 55px;
}

.about .title {
    margin-bottom: 15px;
}

.about p {
    font-size: .9em;
    color: #50413C;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 25px;
}

.about p:first-of-type {
    margin-bottom: 10px;
}

.about .btn {
    margin-bottom: 35px;
    box-shadow: 0 20px 20px -15px rgba(0,0,0, .5);
    transition: background .3s ease-in-out,
                border .3s ease-in-out;
}

.about .btn:hover {
    background-color: #50413C;
    border-color: #50413C;
}

.about .btn:active {
    box-shadow: inset 2px 2px 8px -2px rgba(0,0,0, .5);
    transform: translateY(2px);
}

.about img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 900px) {
    .about .title,
    .about p {
        text-align: left;
    }

    .about .title {
        font-size: 3em;
    }
}

/* Food Section*/
.foods {
    text-align: center;
    margin-bottom: 55px;
}

.food:not(:last-child) {
    margin-bottom: 60px;
}

.food__title {
    margin-bottom: 50px;
}

.food__title::after {
    content: '';
    position: absolute;
    left: 35px;
    right: 35px;
    top: 35px;
    display: block;
    height: 3px;
    background: linear-gradient(45deg, #F6F1ED 0%, #50413C 40%, #50413C 60%, #F6F1ED 100%);
}

.food__type {
    text-align: left;
}

.food__weight {
    margin-top: 15px;
}

.list-type {
    list-style-type: none;
}

.warning {
    margin-top: 5px;
}

.foods img {
    max-width: 250px;
    width: 100%;
    
}

@media only screen and (min-width: 900px) {
    .food__type {
        margin-left: 60px;
    }

    .warning {
        margin-left: -30px;
    }
}